# Python
__pycache__/
*.py[cod]
venv/
.env

# Node/React
node_modules/
build/
.DS_Store

# User Data (Optional - Keep database, ignore large temp files)
massive_drug_list.csv

# Ignore Test Images
*.jpg
*.png
*.jpeg

# Ignore Raw Data Files (Optional - if you don't want them)
*.xls
*.xlsx
india_drugs.csv